
.wrapper
  .left-content
    .user-content
      .user-content__box
        = current_user.name
        %ul.user-content__box__icon
          %li
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'       
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            %p.group__name 
              = group.name
            %p.group__message 
              メッセージ
  .right-content
    .top-content
      .top-content__left-box
        %h2.team-name   
          = @group.name
        %ul.member-list
          %li Member：
          %li 
            = current_user.name
      .top-content__edit
        = link_to "Edit" , edit_group_path(@group) 
    .messages
      - @messages.each do |message|
        .message
          .message__info
            %p.message__info__user 
              = message.user.name
            %p.message__info__data 
              = message.created_at.strftime("%Y/%m/%d %H:%M")
          %p.message__content 
            = message.text
    .form
      = form_for [@group,@message] do |f|
        .message-box  
          .input-box
            = f.text_field :text,class: "text-message",placeholder: "type a message"
            = f.label :image, class: "form-image" do
              %i.fa.fa-image
              = f.file_field :image
          = f.submit "Send",class: "submit-box" 


